<%- model_class = Solicitud -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:descripcion) %></th>
      <th><%= model_class.human_attribute_name(:fecha_solicitud) %></th>
      <th><%= model_class.human_attribute_name(:hora) %></th>
      <th><%= model_class.human_attribute_name(:idtipo_solicitud) %></th>
      <th><%= model_class.human_attribute_name(:id_usuario) %></th>
      <th><%= model_class.human_attribute_name(:id_documento) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @solicituds.each do |solicitud| %>
      <tr>
        <td><%= link_to solicitud.id, solicitud_path(solicitud) %></td>
        <td><%= solicitud.descripcion %></td>
        <td><%= solicitud.fecha_solicitud %></td>
        <td><%= solicitud.hora %></td>
        <td><%= solicitud.idtipo_solicitud %></td>
        <td><%= solicitud.id_usuario %></td>
        <td><%= solicitud.id_documento %></td>
        <td><%=l solicitud.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      solicitud_path(solicitud), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_solicitud_path(solicitud), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      solicitud_path(solicitud),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_solicitud_path,
            :class => 'btn btn-primary' %>
